DATABASE_URL=postgresql://postgres:password@localhost:5432/sportsarb

SPORTSGAMEODDS_KEY=***********

HEADLESS=true

LOG_LEVEL=INFO

BET365_USERNAME=
BET365_PASSWORD=

SPORTSBET_USERNAME=
SPORTSBET_PASSWORD=

## npm install dotenv
