SPORTSGAMEODDS_KEY=

UKODDS_API_KEY=
UKODDS_BASE_URL=https://api.ukoddsapi.com

SIMULATION_BANKROLL=100
SIMULATION_PLACEMENT_DELAY_MS=120000
SIMULATION_SCAN_INTERVAL_MS=60000
SIMULATION_STANDARD_MATCH_WINNER_ONLY=false

HEADLESS=true

LOG_LEVEL=INFO

BET365_USERNAME=
BET365_PASSWORD=

SPORTSBET_USERNAME=
SPORTSBET_PASSWORD=

## npm install dotenv
